<!DOCTYPE html>
<html>
  {{> header}}
  <body>
    <h1>{{pageTitle}}</h1>
    <p>A welcome message !</p>
    <form class="" action="/show-form" method="post">
      <input type="text" name="fname" value="" placeholder="First Name">
      <input type="text" name="lname" value="" placeholder="Last Name">
      <input type="submit" name="submit" value="Submit">
    </form>
    {{> footer}}
  </body>
</html>
